#errorMsg {
    color: red;
}

#headerDiv {
    text-align: center;
    background-color: green;
}

h1 {
    margin: 0 auto;
    padding: 0.5em;
    color: white;
}

.ui.container {
    margin-top: 2em;
}

.form {
    margin: 2em;
    padding: 1.5em;
}

input {
    margin: 1em;
    padding: 1em;
}

/* adjust the width of the container according to the screen size */
/* extra small screen */
@media screen and (max-width: 575px) {
    .container {
        width: 90%;
    }
}

/*  small screen */
@media screen and (min-width: 576px) {
    .container {
        width: 80%;
    }
}

/* medium screen */
@media screen and (min-width: 768px) {
    .container {
        width: 70%;
    }
}

/* large screen */
@media screen and (min-width: 992px) {
    .container {
        width: 75%;
    }
}

/* extra large screen */
@media screen and (min-width: 1200px) {
    .container {
        width: 60%;
    }
}