body {
    background-color: #d3dbe4;
}

label {
    font-size: 1em;
}

#errorMsg {
    color: red;
}

#headerDiv {
    text-align: center;
    color: whitesmoke;
    background-color: teal;
}

h1 {
    margin: 0 auto;
    padding: 0.5em;
    color: white;
}

.ui.container {
    margin-top: 2em;
    width: 35%;
    background-color: teal;
    border-radius: 25px;
}

.form {
    margin: 2em;
    padding: 1.5em;
    size: 45;
}

input {
    margin: 1em;
    padding: 1em;
}

a {
    font-size: 1.2em;
    font-weight: bold;
}

.venueName {
    color: #6f0c3f;
    font-size: 1.2em;
    font-weight: bold;
}

/* adjust the width of the container according to the screen size */
/* extra small screen */
@media screen and (max-width: 575px) {
    .container, .searchResult {
        width: 90%;
    }
}

/*  small screen */
@media screen and (min-width: 576px) {
    .container, .searchResult {
        width: 80%;
    }
}

/* medium screen */
@media screen and (min-width: 768px) {
    .container, .searchResult {
        width: 70%;
    }
}

/* large screen */
@media screen and (min-width: 992px) {
    .container, .searchResult {
        width: 75%;
    }
}

/* extra large screen */
@media screen and (min-width: 1200px) {
    .container, .searchResult {
        width: 60%;
    }
}

