body {
    background-color: #d3dbe4;
}

label, #stateLabel, #startDateLabel, #endDateLabel {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    color: #c8d1db;
}

#errorMsg {
    color: red;
}

#headerDiv {
    text-align: center;
    color: whitesmoke;
    background-color: teal;
}

h1 {
    margin: 0 auto;
    padding: 0.5em;
    color: white;
}

.ui.container {
    color: #c8d1db;
    background-color: teal;
    border-radius: 25px;
}

.form {
    margin: 2em;
    padding: 1.5em;
    size: 45;
}

input {
    margin: 1em;
    padding: 1em;
}

#datePicker {
    margin: 0;
    padding: 0;
}

a {
    font-size: 1.2em;
    font-weight: bold;
}

.venueName {
    color: #6f0c3f;
    font-size: 1.2em;
    font-weight: bold;
}

/* adjust the width of the container according to the screen size */
/* extra small screen */
@media screen and (max-width: 575px) {
    .ui.container, .searchResult {
        width: 95%;
    }
}

/*  small screen */
@media screen and (min-width: 576px) {
    .ui.container, .searchResult {
        width: 65%;
    }
}

/* medium screen */
@media screen and (min-width: 768px) {
    .ui.container, .searchResult {
        width: 60%;
    }
}

/* large screen */
@media screen and (min-width: 992px) {
    .ui.container, .searchResult {
        width:55%;
    }
}

/* extra large screen */
@media screen and (min-width: 1200px) {
    .ui.container, .searchResult {
        width: 45%;
    }
}

.center {
    display: block;
    /* margin-top: 20px; */
    /* margin-bottom: 10px; */
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 225px;
   
  }